body {
  background-color: #f6f6f6;
}

.container {
  width: 50%;
  border: 1px solid lightgray;
  background-color: #fff;
}

.todo-title {
  display: flex;
  justify-content: space-between;
}

.todo-new {
  display: flex;
  justify-content: space-between;
  padding: 16px 4px;
  border-bottom: 1px solid #f0f0f0;
}

.todo-new input {
  font-style: italic;
  outline: none;
  border: none;
  padding: 8px 4px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 4px;
  border-bottom: 1px solid #f0f0f0;
}

.clear-completed p {
  background-color: #f6f6f6;
  margin: 0;
  padding: 16px;
  text-align: center;
  color: gray;
}
